* {
    padding: 0;
    margin: 0;
  }
  
  .espaciado {
    margin: 15px;
  }
  
  .mayus {
    font-size: 6em;
    color: rgb(5, 73, 5);
    text-align: center;
  }
  
  .fondo {
    background-color: gray;
    border-radius: 15px;
  }
  
  .logo {
    width: 20%;
  }
  
  .lista {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  
  a {
    display: inline-flex;
    padding: 2em;
    background-color: LightGray;
    text-align: center;
    margin-bottom: 0.2em;
    text-decoration: none;
    color: #000000;
    width: 8em;
    border-radius: 5px;
    font-size: xx-large;
    transition: .4s ease-in;
    height: 4em;
    z-index: 1;
  
    &:hover {
      box-shadow: 10px 10px 0px black;
      top: -5px;
      left: -5px;
    }
  }
  
  .imgfondo {
    background-size: cover;
  }
  
  .align {
    text-align: center;
  }
  
  .align2 {
    justify-content: center;
  }
  
  .quitar {
    text-decoration: none;
  }
  
  .altura {
    height: 500px;
  }
  
  .navbar-nav {
    width: 100%;
  }
  
  .nav-item {
    width: 100%;
    margin: 0 5px 0 5px;
  }
  
  .nav-link {
    width: inherit;
  }
  
  .container,
  .container-fluid {
    padding: 0;
  }
  
  .sindeco {
    text-decoration: none;
    color: black;
  }
  
  .parrafo {
    font-size: 5em;
  }
  
  .parrafo2 {
    padding-top: 20px;
    padding-bottom: 100px;
  }
  
  .bg-light {
    --bs-bg-opacity: 0;
    background-color: none
  }
  
  .align3 {
    align-items: center;
  }
  
  $colorb:(rojo: red, verde:green, amarillo:yellow, azul:blue, gris:gray);
  
  @each $color,
  $valor in $colorb {
    .boton_#{$color} {
      background-color: $valor;
    }
  }
  
  $mayu:(
    letra: 7em,
    color: #3e1b69,
    color2: rgb(206, 94, 8),
    borde: 5px
  
  );
  
  
  .mayus2 {
    background-color: map-get($mayu , color );
    color:map-get($mayu , color2 );
    font-size:map-get($mayu , letra ) ;
    border-radius: map-get($mayu , borde );
  
  
  }
  
  .fondo_nuevo{
    @extend .fondo;
    background-color: rgb(32, 26, 26);
    border-radius: 5px;
  
  }
  
  @mixin radio ($borde){
    border-radius: $borde;
  }
  
  .curva{
    @include radio(10px);
  }

  .colorheader{
      background-color: #3e1b69;
  }

  .bg-light2 {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
  }

  .pie{
      margin-top: 75%;
      bottom: 0px;
  }

  .texto{
      font-size: 10em;
  }